<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список дел описи</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="header">
    <h4>Название описи:</h4>
    <h1 th:text="${register.getName()}"></h1>
</div>

<div class="row">

    <div class="column side">
        <table class="table table-striped mt-20 text-center">
            <caption>Навигация:</caption>
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p>Поиск</p>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <p><a th:href="'/registers/' + ${register.getId()} + '/subjectListRegister'">Предметный указатель</a></p>
                        <p><a th:href="'/registers/' + ${register.getId()} + '/actorListRegister'">Именной указатель</a></p>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>


    <div class="column middle">
        <table class="table table-striped mt-20 text-center">
            <caption>Список Дел:</caption>
            <thead>
            <tr>
                <!-- sorting control via note id -->
                <th>
                    <a th:href="@{'/registers/' + ${register.getId()} + '/noteList/page/' + ${currentPage} + '?sort-field=number&sort-dir=' + ${reverseSortDir}}">Номер</a>
                </th>
                <!-- sorting control via note name -->
                <th>
                    <a th:href="@{'/registers/' + ${register.getId()} + '/noteList/page/' + ${currentPage} + '?sort-field=annotation&sort-dir=' + ${reverseSortDir}}">Аннотация</a>
                </th>
                <th>Просмотр</th>
                <th>Редактирование</th>
                <th>Удаление</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="note : ${noteList}">
                <td th:text="${note.getNumber()}">Номер</td>
                <td style="text-align: left" th:text="${note.getAnnotation()}">Аннотация</td>
                <td><a href="#" th:href="@{'/notes/' + ${register.id} + '/note/' + ${note.id} + '/noteShowGrid'}">Просмотр</a></td>
                <td><a href="#" th:href="@{'/notes/' + ${register.id} + '/note/' + ${note.id} + '/noteUpdate'}">Редактирование</a></td>
                <td><a href="#" th:href="@{'/registers/' + ${register.id} + '/note/' + ${note.id} + '/noteDelete'}">Удаление</a></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-2">
                    Всего Дел:        <strong>[[${totalItems}]]</strong>
                </div>
                <div class="col-sm-2">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:href="@{'/registers/' + ${register.getId()} + '/noteList/page/' + ${i} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                           th:if="${currentPage != i}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
                </div>
                <div class="col-sm-2">
                    <a th:href="@{'/registers/' + ${register.getId()} + '/noteList/page/' + ${currentPage + 1} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                       th:if="${currentPage < totalPages}">
                        Следующая
                    </a>
                    <span th:unless="${currentPage < totalPages}">Следующая</span>
                </div>
                <div class="col-sm-2">
                    <a th:href="@{'/registers/' + ${register.getId()} + '/noteList/page/' + ${totalPages} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                       th:if="${currentPage < totalPages}">
                        Последняя
                    </a>
                    <span th:unless="${currentPage < totalPages}">Последняя</span>
                </div>
            </div>
        </div>
    </div>

    <div class="column side">
        <table class="table table-striped mt-20 text-center">
            <caption>Действия:</caption>
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Фотографии описи</td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{'/images/' + ${register.getId()} + '/load'}">Добавить фотографию</a>
                </td>
            </tr>
            <tr>
                <td>Файлы описи</td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{'/files/' + ${register.getId()} + '/load'}">Добавить файл</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="footer">

</div>



</body>

</html>