<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf.extras.springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Предметный указатель описи</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand my-2" href="#">Предметный указатель описи <span th:text="${register.getName()}"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarActionContent" aria-controls="navbarActionContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarActionContent">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand">
                <a class="nav-link" th:href="@{'/'}" href="#">Фонд</a>
            </li>
            <li class="navbar-brand">
                <a class="nav-link" href="#" th:href="@{'/page/registers/' + ${register.getId()} + '/notes'}">Опись</a>
            </li>
            <li class="navbar-brand dropdown" sec:authorize="hasAnyAuthority('ROLE_ADMIN','ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Администрирование
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" th:href="@{'/notes/' + ${register.id} + '/note/noteCreate'}" role="button">Добавить дело</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" th:href="@{'/files/' + ${register.getId()} + '/load'}">Добавить файл</a>
                    <a class="dropdown-item" href="#" th:href="@{'/images/' + ${register.getId()} + '/load'}">Добавить изображение</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" role="button" th:href="'/registers/' + ${register.getId()} + '/registerUpdate'">Редактирование данных описи</a>
                </div>
            </li>
            <li class="navbar-brand dropdown" sec:authorize="hasAnyAuthority('ROLE_USER','USER')">
                <a class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Действия
                </a>
                <div class="dropdown-menu" aria-labelledby="Dropdown">
                    <a class="dropdown-item" href="#" th:href="@{'/reports/' + ${register.id} + '/searchBox'}" role="button">Расширенный поиск</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" role="button" th:href="'/registers/' + ${register.getId()} + '/registerShowGrid'">Просмотр данных описи</a>
                </div>
            </li>
            <li class="navbar-brand dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownIndex" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Указатели
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownIndex">
                    <a class="dropdown-item" role="button" th:href="@{'/actors/' + ${register.getId()} + '/actorListRegister/page/' + ${currentPage} + '?sort-field=surname&sort-dir=asc'}">Именной указатель</a>
                </div>
            </li>
        </ul>
        <form class="form-inline ml-2 my-2 my-lg-0" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <div class="navbar-brand" sec:authentication="name">Иван Иванов</div>
            <input class="btn btn-outline-danger" type="submit" value="Выйти из учетной записи"/>
        </form>
        <form class="form-inline ml-2 my-2 my-lg-0" th:action="@{/reports/searchResult}" method="post">
            <input type="text" name="wordToSearch" class="form-control mr-2" placeholder="Искать везде" aria-describedby="button-addon">
            <button class="btn btn-outline-success" type="submit" id="button-addon" >Найти</button>
        </form>
        <form class="form-inline ml-2 my-2 my-lg-0" th:action="@{'/selections/showSelection'}" method="post">
            <button class="btn btn-outline-info" type="submit" id="button-info" >Просмотреть выборку</button>
        </form>
    </div>
</nav>

<br>
<div class="container">

    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th scope="col" ><a th:href="@{'/subjects/' + ${register.getId()} + '/subjectListRegister/page/' + ${currentPage} + '?sort-field=name&sort-dir=' + ${reverseSortDir}}">Предметный указатель</a></th>
            <th scope="col">Связанные единицы хранения</th>
            <th scope="col">Просмотр</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjectList}">
            <td>
                <p th:text="${subject.getName()}"></p>
            </td>
            <td>
                <a th:each="note : ${subject.getNotes()}" th:text="'&nbsp ' + ${note.number} + ' &nbsp'" th:href="@{'/notes/' + ${register.id} + '/note/' + ${note.id} + '/noteShowGrid'}"></a>
            </td>
            <td>
                <a th:href="'/subjects/' + ${subject.getId()} + '/subjectList'">Просмотр</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>