table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}
caption {
    caption-side: top;
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
}
th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
}

td {
    border-bottom: 1px solid #ccc;
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}
tr:hover td {
    background: #e8edff;
}