<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Просмотр Изображения</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <!--    note tables-->
    <table class="table table-striped mt-20 text-center">
        <caption>Просмотр Изображения Дела</caption>
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img th:src="@{'/images/' + ${image.getId()} + '/imageShow/display'}"
                        src="../../static/images/image_1.jpg">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>