<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Фонд</title>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <!--    registers table-->
    <table class="table table-striped mt-20 text-center">
        <caption>Список описей</caption>
        <thead>
        <tr>
            <!-- sorting control via register id -->
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sort-field=id&sort-dir=' + ${reverseSortDir}}">Номер</a>
            </th>
            <!-- sorting control via register name -->
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sort-field=name&sort-dir=' + ${reverseSortDir}}">Название</a>
            </th>
            <th>Просмотр</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="register : ${registerList}">
            <td th:text="${register.getId()}">Номер</td>
            <td th:text="${register.getName()}">Название</td>
            <td><a href="#" th:href="@{'/page/registers/' + ${register.getId()} + '/notes'}">Просмотр</a></td>
        </tr>
        </tbody>
    </table>
    <!-- pagination control -->
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Всего описей:        <strong>[[${totalItems}]]</strong>
            </div>
            <div class="col-sm-2">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:href="@{'/page/' + ${i} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                           th:if="${currentPage != i}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
            </div>
            <div class="col-sm-2">
                <a th:href="@{'/page/' + ${currentPage + 1} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">
                    Следующая
                </a>
                <span th:unless="${currentPage < totalPages}">Следующая</span>
            </div>
            <div class="col-sm-2">
                <a th:href="@{'/page/' + ${totalPages} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">
                    Последняя
                </a>
                <span th:unless="${currentPage < totalPages}">Последняя</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>